{% extends "employee_management/base.html" %}
{% block 'body_block' %}
    {% if "del_emp" %}
        <h1 style="color:red;">Delete {{del_emp.First_Name}}  {{del_emp.Last_Name}} ?</h1>
        <table>
            <tr>
                <form action="" method="post">
                    {% csrf_token %}
                <td><input type="submit" value="Delete"></td>
                <td><a href="{% url 'emp:view' %}"><input type="submit" value="Cancel"></a></td>
                </form>
            </tr>
        </table>
    {% endif %}


{% endblock 'body_block' %}