{% extends "employee_management/base.html" %}
{% block 'body_block' %}

<div class="container mt-5">
    <div class="card mx-auto" style="width:25rem;">
        <div class="card-body">
            <h5 class="card-title">Employee Details</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Employee Id:</strong> {{ emp_detail.Employee_Id }}</li>
                <li class="list-group-item"><strong>First Name:</strong> {{ emp_detail.First_Name }}</li>
                <li class="list-group-item"><strong>Last Name:</strong> {{ emp_detail.Last_Name }}</li>
                <li class="list-group-item"><strong>Salary:</strong> {{ emp_detail.Salary }}</li>
                <li class="list-group-item"><strong>Department:</strong> {{ emp_detail.Department }}</li>
                <li class="list-group-item"><strong>Position:</strong> {{ emp_detail.Position }}</li>
                <li class="list-group-item"><strong>Location:</strong> {{ emp_detail.Location }}</li>
                <li class="list-group-item"><strong>Phone Number:</strong> {{ emp_detail.Phone_No }}</li>
                <li class="list-group-item"><strong>Date Of Joining:</strong> {{ emp_detail.Date_Of_Joining }}</li>
            </ul>
        </div>
    </div>
</div>

{% endblock 'body_block' %}
{% comment %} {% extends "employee_management/base.html" %}
{% block 'body_block' %}

<div class="container" style="border: 1px solid black">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h3>Employee Id:{{emp_detail.Employee_Id}}</h3>
            <h3>First Name: {{emp_detail.First_Name}}</h3>
            <h3>Last Name: {{emp_detail.Last_Name}}</h3>
            <h3>Salary: {{emp_detail.Salary}}</h3>
            <h3>Department: {{emp_detail.Department}}</h3>
            <h3>Position: {{emp_detail.Position}}</h3>
            <h3>Location: {{emp_detail.Location}}</h3>
            <h3>Phone Number: {{emp_detail.Phone_No}}</h3>
            <h3>Date Of Joining: {{emp_detail.Date_Of_Joining}}</h3>


        </div>
    </div>
</div>


{% endblock 'body_block' %} {% endcomment %}